<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brief</title>
  <link href="./style/normalize.css" rel="stylesheet" />
  <link href="./style/app.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <user-pane :username="username" :avatar-src="avatarSrc"></user-pane>
    <board :card-list="cardList"></board>
  </div>
  <!-- Start of script -->

  <script src="./script/vue.js "></script>
  <script src="./script/axios.min.js"></script>
  <!-- Improt Library -->

  <script src="./script/config.js"></script>
  <script src="./script/cards.js"></script>
  <script>
    const UserPane = {
      name: 'userPane',
      template: '<div class="user-pane"><div class="user-profile" ><img class="user-avatar" :src="avatarSrc" alt="avatar" /><h3 class="username">{{username}}</h3></div><div class="user-display"><p>Welcome, {{username}}. {{ display }}</p></div></div>',
      props: ['username', 'avatarSrc'],
      computed: {
        display: function () {
          return "This is where we will place information that we want every user to see"
        }
      }
    };

    const Card = {
      template: '<div class="card"><empty-card-content v-if="empty" :options="options" v-on:typechange="changeCardType"></empty-card-content><component v-else :is="cardType"  ></component></div>',
      props: ['cardName', 'id', 'options'],
      computed: {
        cardType: function () {
          return this.cardName + '-card-content';
        },
        empty: function () {
          if (this.cardName === 'empty') return true;
          return false;
        }
      },
      methods: {
        changeCardType: function (typeToChange) {
          this.$emit('typechange', typeToChange, this.id);
        }
      }
    }

    const Board = {
      template: '<div class="board"><card v-for="item in cardList" :id="item.id" :card-name="item.name" :options="options" v-on:typechange="changeCardType" :key="item.id" ></card></div>',
      props: ['cardList'],
      components: {
        'card': Card,
      },
      data: function () {
        return {
          options: []
        }
      },
      created: function () {
        var result = ['zhihu', 'clock', 'test'];
        var found = false;
        for (var i = 0; i < result.length; i++) {
          found = false;
          for (var z = 0; z < this.cardList.length; z++) {
            if (result[i] === this.cardList[z].name) {
              found = true;
            }
          }
          if (!found) {
            this.options.push(result[i]);
          }
        }
      },
      methods: {
        changeCardType: function (typeToChange, id) {
          this.cardList[id].name = typeToChange;
          this.modifyOptions(typeToChange);
        },
        modifyOptions: function (typeToChange) {
          for (var i = 0; i < this.options.length; i++) {
            if (this.options[i] === typeToChange) {
              this.options.splice(i, 1);
            }
          }
        }
      }
    };

    var app = new Vue({
      name: 'application',
      components: {
        'user-pane': UserPane,
        'board': Board
      },
      data: function () {
        return {
          username: 'test',
          cardList: [{
            name: 'zhihu',
            id: 0
          }, {
            name: 'clock',
            id: 1
          }, {
            name: 'empty',
            id: 2
          }, {
            name: 'empty',
            id: 3
          }, {
            name: 'empty',
            id: 4
          }, {
            name: 'empty',
            id: 5
          }],
          avatarSrc: './img/placeholder.png'
        }
      }
    });

    app.$mount('#app');
  </script>
</body>

</html>